{% extends 'index.html' %}

{% block title %} | Turmas Classroom {% endblock %}


{% block content %}
    <div class="row cursos-main">
        <div class="col-md-6">
            <a href="">
                <div class="inner dif courser">
                    <p>1º Ano</p>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a href="">
                <div class="inner dif courser">
                    <p>2º Ano</p>
                </div>
            </a>
        </div>  
        <div class="col-md-6">
            <a href="">
                <div class="inner dif courser">
                    <p>3º Ano</p>
                </div>
            </a>
        </div>   
        <div class="col-md-6">
            <a href="">
                <div class="inner dif courser">
                    <p>4º Ano</p>
                </div>
            </a>
        </div>     
    </div>
{% endblock %}